---
import type { Project } from '../../types';



interface Props {
  projects: Project[];
}

const { projects } = Astro.props;

export const prerender = true;
---

<div class='flex-1 mt-8 lg:mx-12 lg:mt-0'>
  <div class='grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3'>
    {
      projects.map((project) => (
        <div transition:name={`project ${project?.slug} box`} class="bg-white dark:bg-gray-900" >
          <img
            class='object-cover w-full rounded-lg h-96'
            src={project.images[0].url}
            alt={project.images[0].title}
            transition:name={`project ${project?.slug} image`}
          />
          <h2
            class='mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white'
            transition:name={`project ${project?.slug} title`}>
            {project.title}
          </h2>
          <p transition:name={`project ${project?.slug} description`}></p>
          </p>
          <a
            class='mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400'
            href={`/projects/${project.slug}`}
            transition:name={`project ${project?.slug} link`}
            >
            View more
          </a>
        </div>
      ))
    }
  </div>
</div>
{}
